<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation-icons/3.0/foundation-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css"/>
    <!--<link rel="stylesheet" th:href="@{/css/app.css}">-->
    <link rel="stylesheet" th:href="@{../app.css}">


</head>
<body>
<div class="expanded row">
    <div class="top-bar">

        <h3>Mathematix</h3>

    </div>
</div>

<div class="row expanded topline">
    <div class="row">
        <div class="small-12 large-12  columns box">
            <div class="wrapper">
                <h3>Quiz Generator</h3>
                <p>Generate quiz for yours students. Choose exercise wrapperConditions. Generate unique ID of every Quiz you
                    do.</p>
                <hr>
                <form th:action="@{/conditionsInput}" method="post" >

                    <div class="row"  >
                        <!--<th:block th:object="${conditionList[0]}">-->
                        <h4>Addition</h4>
                        <div class="large-4 columns">
                            <label>Range from Number
                                <input type="number" name="wrapperConditions[0].fromInt" id="condition_add_from" placeholder="fromInt" value="">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>To Number
                                <input type="number" name="wrapperConditions[0].toInt" id="condition_add_to" placeholder="toInt" value="">
                            </label>
                        </div>
                        <div class="large-4 columns">
                            <label>Exercise Count
                                <input type="number" name="wrapperConditions[0].exercisesCount" id="condition_add_count" placeholder="how many?" value="">
                            </label>
                            <!--hidden fields-->
                            <input type="hidden" name="wrapperConditions[0].mathCondition" id="condition_add_math" value="+" >
                        </div>
                        <!--</th:block>-->
                    </div>


                    <div class="row">
                        <hr>
                        <input type="submit" class="button  large" value="Generate New Quiz">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>